button {
  width: 90%;
}

TextField {
  width: 100%;
}

ActionBar {
  background: darkcyan;
}

TextView {
  height: 100px;
  width: 500px;
  text-align: center;
}

.container {
  margin-top: 30px;
  border: 1px solid purple;
}

.text-view-container {
  margin-top: 30px;
  margin-left: 50px;
}
